.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-section section{
    width: 80%;
    box-shadow: 3px 2px 36px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 36px -6px rgba(0,0,0,0.75);
}

#marcus {
    padding: 20px;
    border-radius: 10px;
}

#lucas {
    background-color: Green;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#emil {

}

/* EMILY SECTION */
#emily {
    background-color: darkslategrey;
    padding: 12px;
    border-radius: 6px;
}
#emily h1 {
    color: red;
    text-transform: uppercase;
    font-family: sans-serif;
}
#emily p {
    color: white;
    font-family: "Bodoni MT";
}
#emily img {
    max-width: 100px;
    max-height: 100px;
}
#emily div {
    display: flex;
}